$tablet: 768px;
$desktop: 1440px;
$large-monitor: 2000px;

@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

@mixin large-monitor {
	@media (min-width: #{$large-monitor}) {
		@content;
	}
}