@import "breakpoints";

/*
	RESET DEFAULTS
	/////////////////////////////////////////////////////////////////////////////////////////////
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

/*
	GLOBAL STYLING
	/////////////////////////////////////////////////////////////////////////////////////////////
*/

img {
	width: 100%;
	height: auto;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

div.container {
	margin: 20px;
	
	@include tablet {
		margin: 40px;
	}
}

.card {
	background-color: inherit;
	border-radius: 10px;
}

/*
	RECIPE CARD COMPONENT
	/////////////////////////////////////////////////////////////////////////////////////////////
*/

div.recipe-grid {
	display: grid;
	grid-gap: 20px;
    grid-template-columns: 1fr;
	
	@include tablet {
		grid-gap: 40px;
		grid-template-columns: 1fr 1fr;
	}
	
	@include desktop {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	a.recipe-card {
		width: calc(100% - 80px);
		margin-left: 40px;
		padding: 20px;
		background-color: #d8d8d8;
		position: relative;
		transition: 0.3s ease-in-out;
		
		div.col-container {
			display: flex;
		    flex-direction: row;
			align-items: flex-end;
			
			div.col {
				
				img.recipe-img {
					width: 188px;
					margin-left: -60px;
					transition: 0.3s ease-in-out;
				}
				
				h2.recipe-name {
					font-size: 24px;
					margin-bottom: 20px;
				}
				
				div.recipe-info {
					display: flex;
				}
			}
			
			#recipe-content {
				width: 50%;
				margin-left: 20px;
			}
		}
	}
	
	a.recipe-card:hover {
		width: calc(100% - 40px);
		margin-left: 0px;
	}
	
	a.recipe-card:hover > div.col-container > div.col > img.recipe-img {
		margin-left: 0;
	}
}

/*
	FILTER TAG COMPONENT
	/////////////////////////////////////////////////////////////////////////////////////////////
*/

div.filters {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
	
	a.filter-tag {
		color: #fff;
		font-size: 12px;
		padding: 10px;
		margin-right: 10px;
		background-color: gray;
		opacity: 0.8;
		transition: 0.3s ease-in-out;
	}
	
	a.filter-tag:hover {
		opacity: 1;
	}
}
